.clickable {
    cursor: pointer;
}

.active {
    background-color: lightgrey;
}

.tree-parent {
    margin-bottom: .25em;
    padding-left: 0;
}

.tree-child {
    margin-bottom: .25em;
    padding-left: 1em;
}